body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.search-box{
margin:20px;
}

input{
padding:10px;
width:250px;
}

button{
padding:10px 15px;
cursor:pointer;
}

.container{
display:flex;
justify-content:center;
gap:50px;
margin-top:30px;
}

.body-diagram{
width:200px;
}

svg{
width:200px;
}

.exercise-demo img{
width:300px;
border-radius:10px;
}
